# Ignore virtual environment
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
*.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# VS Code settings
.vscode/

# Build artifacts
build/
dist/
*.egg-info/